@import '../abstract/variables.scss';

.auth {
  // grid-column: center-start/center-end;
  grid-column: col-start 4 / col-end 9;

  @media only screen and (max-width: $bp-sm) {
    grid-column: col-start 2 / col-end 11;
  }

  @media only screen and (max-width: $bp-xxs) {
    grid-column: center-start / center-end;
  }

  &__heading {
    margin-top: $margin-md;
    margin-bottom: $margin-sm;
    text-align: center;
  }

  &-form {
    background-color: rgba($color-primary, 0.2);
    padding: $padding-lg $padding-md;

    &__actions {
      margin-top: $margin-md;
      display: flex;
      flex-direction: column;
    }

    &__toggle {
      margin-top: $margin-sm;
      line-height: 2;
    }
  }
}
