@import '../abstract/variables.scss';

.checkout {
  grid-column: center-start/center-end;

  &__required {
    margin-top: $margin-sm;
    font-weight: 700;
  }
  &__container {
    display: flex;

    @media only screen and (max-width: $bp-lg) {
      flex-direction: column;
    }
  }

  &__form {
  }

  &__email {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: $margin-sm;

    & input {
      grid-column: 2/5;
    }
  }

  &__right {
    margin-left: $margin-md;
    padding: $padding-md;
    background-color: rgba($color-primary, 0.1);
    max-height: 100vh;

    @media only screen and (max-width: $bp-lg) {
      margin-left: 0;
    }
  }

  &__order-summary {
    margin-top: $margin-sm;
  }
}
