@import '../abstract/variables.scss';

.order-confirm {
  grid-column: col-start 2 / col-end 11;

  @media only screen and (max-width: $bp-lg) {
    grid-column: center-start/center-end;
  }

  &__heading {
    font-size: 3.2rem !important;
    text-align: center;
    margin-top: $margin-md;
  }

  &__paragraph-box {
    display: flex;
    justify-content: center;
    margin-top: $margin-sm;
  }

  &__paragraph {
    text-align: center;
  }
}
