@import '../abstract/variables.scss';

.orders {
  grid-column: center-start/center-end;

  &__column-headings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $grid-gap-xs;
    margin-top: $margin-md;
  }

  &__column-heading {
    font-size: 2rem;
  }

  &__list {
    margin-top: $margin-sm;
  }
}
