@import '../abstract/variables.scss';

.wishlist {
  grid-column: center-start/center-end;

  &__gallery {
    margin-top: $margin-md;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $grid-gap-xs;
  }
}
