@import '../abstract/variables.scss';

.nav {
  grid-column: center-start/center-end;
  padding: $padding-sm 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;

  @media only screen and (max-width: $bp-xs) {
    display: flex;
    flex-direction: column;
  }

  &__logo {
  }
  &__logo-link {
    text-decoration: none;

    &:link,
    &:visited,
    &:active {
      color: $color-primary;
    }
  }
  &__logo-text {
    font-size: 2.4rem;
    letter-spacing: 2px;
  }
  &__menu {
  }
  &__menu-list {
    list-style: none;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-xs) {
      margin-top: $margin-xs;
    }
  }
  &__menu-item {
    text-transform: uppercase;
    letter-spacing: 1px;

    &:not(&:last-child) {
      margin-right: $margin-md;
    }
    @media only screen and (max-width: $bp-xxxs) {
      &:not(&:last-child) {
        margin-right: $margin-sm;
      }
    }
  }
  &__menu-link {
    color: $color-primary;
    text-decoration: none;
    text-transform: uppercase;

    &:link,
    &:visited,
    &:active {
      color: $color-primary;
      // font-weight: 700;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  // nested menu styling
  &__account {
    cursor: pointer;
    position: relative;
  }
  &__nested-menu {
    width: 20rem;
    background-color: $color-white;
    box-shadow: $box-shadow-2;
    padding: 3rem 4rem;
    list-style: none;
    position: absolute;
    z-index: 100;
    top: 150%;
    left: -20%;
  }

  &__nested-item {
    &:not(&:last-child) {
      margin-bottom: $margin-xs;
    }

    &:last-child {
      margin-top: $margin-sm;
    }
  }

  &__cart-link {
    color: $color-white !important;
    background-color: $color-primary;
    padding: 0.8rem $padding-sm;
    border-radius: $border-radius-sm;
  }

  &__cart-btn {
    background-color: $color-primary;
    color: $color-white;
    padding: $padding-xxs $padding-sm;
    border: none;

    &:hover {
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

.bump {
  animation: bump 300ms ease-out;
  // transform: scale(1);
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
