@import '../abstract/variables.scss';

.btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4rem;
  transition: all 0.2s;
  background-color: transparent;
}

.btn-primary {
  letter-spacing: 2px;
  color: $color-white;
  text-transform: uppercase;
  border: none;
  padding: $padding-xs $padding-lg;
  background-color: $color-black;

  &:hover {
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(0);
  }
}

.btn-secondary {
  font-weight: 700;
  border: 2px solid $color-primary;
  background-color: $color-white;
  padding: $padding-xxs $padding-md;
  text-transform: uppercase;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }

  @media only screen and (max-width: $bp-lg) {
    padding: $padding-xxs $padding-sm;
  }
}

.btn-tertiary {
  border: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;

  &:hover {
    color: $color-secondary;
  }
}
