@import '../abstract/variables.scss';

.btn {
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.2s;
}

.btn-primary {
  letter-spacing: 2px;
  color: $color-white;
  text-transform: uppercase;
  border: none;
  padding: $padding-xs $padding-lg;
  background-color: $color-black;

  &:hover {
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(0);
  }
}

.btn-secondary {
  font-weight: 700;
  border: 2px solid $color-primary;
  background-color: $color-white;
  padding: $padding-xxs $padding-md;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }
}

.btn-tertiary {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $color-primary;
  padding-bottom: $padding-xxs;
  font-weight: 700;
}
