@import '../abstract/variables.scss';

.filter-form {
  margin-top: $margin-md;
  &__actions {
    margin-top: $margin-sm;
    display: flex;
    flex-direction: column;
  }

  &__clear-btn {
    margin-top: $margin-xs;
  }
}
