@import '../abstract/variables.scss';

.filter {
  &:not(:last-of-type) {
    margin-top: $margin-sm;
  }

  &__heading {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: $margin-xs;
  }
  &__item {
    margin-top: $margin-xxs;
    display: flex;
    align-items: center;
  }

  &__label {
  }
}
