@import '../abstract/variables.scss';

.password-form {
  &__group-control {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @media only screen and (max-width: $bp-md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__actions {
    margin-top: $margin-sm;
  }
}
