@import '../abstract/variables.scss';

.review {
  list-style: none;
  //   margin-top: $margin-sm;
  border-bottom: 1px solid rgba($color-primary, 0.2);
  padding: $padding-xs 0;

  & > p {
    margin-top: $margin-xs;
  }
  &__date {
    text-align: right;
  }

  &__author {
    font-weight: 700;
  }
  &__rating {
  }
  &__text {
  }

  &__actions {
    text-align: right;
    margin: $margin-xs 0;
  }

  &__delete-btn {
  }
}
