@import '../abstract/variables.scss';

.review-form {
  &__group-control {
    margin-top: $margin-sm;
  }

  &__rating {
    display: flex;
  }

  &__rating-heading {
    margin-right: $margin-xs;
  }

  &__text {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0;
    padding: $padding-xs;

    &:focus {
    }
  }

  &__actions {
    margin-top: $margin-sm;
    text-align: right;
  }
  &__btn {
  }
}
