@import '../abstract/variables.scss';

.sub-navi {
  list-style: none;

  &__item {
    cursor: pointer;
    &:not(:first-child) {
      margin-top: $margin-xs;
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;

    &:link,
    &:visited,
    &:active {
      color: $color-primary;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  &__active-link {
    font-weight: 700;
  }
}
